body {
  text-align: center;
    background-color: rgb(234, 241, 243);

  }
  

h1 {
    font-family: Garamond, serif;
    color:rgb(12, 12, 12)   
  }

  .headline {
    font-family: Garamond;
    color:black

  }

  .intro {
    background-color: rgb(228, 222, 235);
  }

  .description {
    background-color:rgb(193, 206, 232)
  }
  
  .paragrah {
    background-color: aqua;

  }
  nav ul {
    list-style-type: none;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
    color: rgb(221, 0, 255);
  }
